---
---

@import "minima";

/* HEADER Overrides */
.site-header { border-top: 0px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; box-shadow: 0px 0px 5px 3px #aaa;} 

.site-nav .page-link { color: #111; line-height: 1.5; }


 /* FOOTER Overrides */
.site-footer { border-top: 1px solid #e8e8e8; position: relative; padding: 30px 0 0px; flex-shrink: 0; }
 
.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list { list-style: none; margin-left: 0px; }

.dylanrocks-list { list-style: none; margin-left: 80px; }

.social-media-list { list-style: none; margin-left: 0px; }

.footer-col-wrapper { display: flex; justify-content: center; vertical-align: middle; text-align: center; color: #828282; font-size: 12.8px; padding: 15px 0; margin: 0 16px;
}

.footer-col-wrapper2 { font-size: 15px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }


/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

.dylanrocks-list li + li {
	padding-top: 5px;
}


/* CV WRAPPER */

.CVcolumn { font-size: 16px; color: #424242; margin-left: auto; margin-right: auto; padding-right: 0px; padding-left: 0px;  float: left; width: 33.33%; margin-bottom: 15px;
}

/* CUSTOM CLASSES */

.footjob { float: left; margin-bottom: -100px; padding-top: 0px; padding-left: 0px; font-size: 13px; text-align: center;
}

.footjob-footy { float: left; margin: auto; padding-left: 120px; font-size: 13px;}

.footjob-daisy { border-top: 1px solid #e8e8e8; position: relative; padding: 0px 0 0px; }

.dylanrocks-list li + li { padding-top: 5px; }

.site-nav .footjob-links { padding-left: 15px; color: #111; line-height: 1.5; }

.project-column {
  width: 100%;
}

/* CV OVERWRITE */
.CVcolumn {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.CVrow:after {
  content: "";
  display: table;
  clear: both;
}



/* LISTS */
.post-title { font-size: 25px; color: #424242; margin-left: auto; margin-right: auto; padding-right: 0px; padding-left: 0px; margin-bottom: 0px; font-weight: bold; }

.post-date { font-size: 16px; color: #424242; margin-left: auto; margin-right: auto; padding-right: 0px; padding-left: 0px; margin-bottom: 0px; font-weight: normal; }

.post-column {
	float: left;
  width: 70%;
}

.post-picture {
	float: left;
  width: 30%;
}

.projects-title {
	font-size: 24px; color: #424242; margin-left: auto; margin-right: auto; padding-right: 0px; padding-left: 0px; margin-bottom: 0px; font-weight: normal;
}


/* VIDEO WRAPPER FOR VIDEO IN HEADER */
.film-wrapper{
    width:100%;
    height:40%;
    position:relative;
    background:green;
}

/* INDEX COLUMN STUFF */
.index-col {
	float:  left;
	margin-bottom: 15px;
	padding-left: 15px;
}


.index-col-wrapper {
	font-size: 15px; 
	color: #828282;
	margin-left: -15px;
}